/* google fonts-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/* --first section-- */
.banner{
    background-color: rgb(45, 45, 191);
    width: 1330px;    
}
.top-label{
    display: flex;
    padding:40px;
    
}
.top-label img{
    width: 556px;
    height: 438px;
    padding-top:67px;
     padding-left:100px ;  
}
.content-title{
font-style: normal;
font-weight:700;
font-size: 64px;
color: #FFFF;
}
.link-button{
    text-decoration: none;
    color: white;
    background: #E02C6D;
     padding: 10px 24px;
}
/* ----hover---- */
.link-button:hover {
    font-size: 30px;
    color: rgb(186, 18, 18);
    background:rgb(179, 107, 179);
     padding: 30px 30px;
}
/* -----article design part--- */
.container{
    background-color: #FFFFFF;
    width: 800px;
    padding:50px;
    margin: 20px;
}
.players-album{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center; 
}
.photo-frame{
    height: 474px;
    width: 330px;
    padding: 15px;
    border: 2px solid rgb(228, 214, 214);
     border-radius: 10px;
     margin: 10px;
     box-shadow: 5px 10px 18px #888888;
}
.photo img{
    width: 100%;
}
/* --article part end  */
/* --- another section-- */

.goal{
    display: flex;
    padding: 20px 40px;
}
.goal img{
    width: 567px;
    height: 427px;
  
}
.match-detail{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px 40px;
}
.match-detail h3{
    color:blue;
    width: 466px;
    font-size: 40px;
    text-align: center; 
}
/* --another section end--  */
/* --videos section start-- */
.videos-update {
    display:flex;
    flex-direction: row;
    padding: 20px 40px;
    justify-content: space-between;
}
.video {
    padding-left: 40px;
}
/* ----news article start--- */
.news-feed{
    display:flex;
    padding: 10px;
}
.news-section h2{
    text-align: center;
    color: blue;
}
.news-item{
    width: 300px; 
border: 2px solid gray;
margin: 10px;
border-radius: 5px;
position: relative;
overflow: hidden;
}
.news img{
    width: 100%;
    border-radius:5px;
}
.news-detail {
    padding: 10px;
}
.news-detail p{
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
}
/* ---use hover --- */
.news-item:hover .news-detail p{
    display: block;
    background-color: rgba(238, 226, 194, 0.679);
}
/* --news- atricle end-  */
/* ----transform & transition ---- */
.news-item:hover .news{
    transform: scale(1.5);
    transition: transform 3s ease-in-out;
}
/* ----footer section start--- */
 footer{
     background-color:whitesmoke;
     height: auto;
     color: rgb(10, 10, 128);
     
 }
 .footer-content img{
     width: 700px;
     padding-left: 150px; 
 }
 .footer-content h3,p{
     max-width: 500px;
     text-transform: capitalize;
     margin: 10px auto ;
 }
.socials {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li {
    margin: 0 10px;
    font-size: 30px;
}
.socials a:hover i {
    color: rgb(27, 157, 157);
    font-size: 40px;
}
@media  only screen and (max-width:688px) {
    .banner{
        width: 100%;
    }
    .banner-part, .players-album {
        grid-template-columns: repeat(1,1fr);
        background-color: rgb(126, 202, 202);
    }
    .photo, .news-feed,.top-label, .goal, .videos-update , .socials{
        flex-direction: column;
    }
}